{% extends "base.html" %}
{% load static %}


{% block title %}Остров отчаянья. 25 октября 1659 года{% endblock %}
      {% block main %}
      <div class="container py-5">
        <article>
          <ul>
            <li>
              Место: Остров отчаянья
            </li>
            <li>
              Дата: 25 октября 1659 года
            </li>
            <li>
              Категория: <a href="{% url 'blog:category_posts' 'not-my-day' %}">not-my-day</a>
            </li>
          </ul>
          <p>
            Всю ночь и весь день шел дождь и дул сильный <br>
            порывистый ветер. 25 октября.  Корабль за ночь разбило <br>
            в щепки; на том месте, где он стоял, торчат какие-то <br>
            жалкие обломки,  да и те видны только во время отлива. <br>
            Весь этот день я хлопотал  около вещей: укрывал и <br>
            укутывал их, чтобы не испортились от дождя.
          </p>
        </article>
      </div>
      {% endblock %}
